/* DARK MODE */
.dark-mode {
  --primary-background: #000;
  --secondary-background: #222;
  --primary-foreground: #fff;
  --primary-accent: #3a3a3a;
}

/* LIGHT MODE */
.light-mode {
  --primary-background: #ffffff;
  --secondary-background: #f5f5f5;
  --primary-foreground: #111;
  --primary-accent: #d0d0d0;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Page */
body {
  font-family: system-ui, Arial, sans-serif;
  background: var(--secondary-background);
  color: var(--primary-foreground);
}

/* header/navbar */
/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Navbar */
nav {
  margin: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 700px;
  width: 100%;

  background: var(--primary-background);
  border: 1px solid var(--primary-accent);
  border-radius: 6px;

  height: 40px;
  padding: 4px;
}

/* Logo */
nav img {
  height: 40px;
  border-radius: 20%;
  width: auto;
  display: block;
}

/* Menu */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Menu items */
nav ul li {
  height: 30px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

/* Links */
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 12px;

  text-decoration: none;
  color: var(--primary-foreground);
  font-size: 14px;
}

/* Hover */
nav ul li:hover {
  background: #474747;
}

/* hero section */
.hero {
  background-image: url("/images/image.png");
  background-position: center;
  background-repeat: repeat;

  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 16px;
}
.hero h1 {
  font-size: 30pt;
}

section {
  height: 600px;
}

/* about section */
#about {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 24px;
}

#about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--primary-foreground);
}

#about p {
  max-width: 700px;
  margin: 0 auto;

  font-size: 1.1rem;
  line-height: 1.6;

  color: #d0d0d0;
}

.author-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.author-card {
  width: min-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  gap: 8px;
  padding: 8px;
  background: var(--primary-accent);
  border-radius: 4px;
}
.author-card img {
  border-radius: 4px;
  width: 150px;
}

/* util */
.container {
  width: 100%;
  margin: 0 8px;
  max-width: 700px;
  margin: 0 auto;
}

article {
  padding-bottom: 60px;
}
article h1 {
  padding-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .author-card img {
    border-radius: 4px;
    width: 100px;
  }
}
